@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body{font-family: 'Nanum Gothic', sans-serif; padding: 0 10px;}
.content_m{display: none;}
/* === header === */
header{width: 100%; background-color: #fff;}
header .content_pc .header_inner{height: 70px; width: 85%; margin: 0 auto; display: flex; justify-content: space-around; align-items: center;}
header .content_pc .header_inner .menu{display: flex; justify-content: center; column-gap: 8%;}
header .content_pc .header_inner .menu li a{color: #686868; font-size: 1.1vw;}
header .content_pc .header_inner .menu li a:hover{font-weight: bold; color: #000;}
header .content_pc .header_inner .basket a{display: block; background-image: url('../img/btn_lf_ot.png'); text-indent: -9999px; width: 76px; height: 22px;}
header .content_pc .header_inner .basket a:hover{display: block; background-image: url('../img/btn_lf_ov.png'); width: 76px; height: 22px;}

/* === section1 === */
.section1 .swiper-container{overflow: hidden; position: relative; padding-bottom: 3%; background-color: #f7f7f7;}
.section1 .swiper-slide img{width: 100%; cursor: pointer;}
.section1 .swiper-button-prev{background-image: url('../img/btn_left.png'); text-indent: -9999px; width: 50px;height: 50px; top: 50%; left: 3%;}
.section1 .swiper-button-next{background-image: url('../img/btn_right.png'); text-indent: -9999px; width: 50px;height: 50px; top: 50%; right: 3%;}
.section1 .swiper-pagination-bullet{width: 90px; height: 8px; border-radius: 0;}
.section1 .swiper-pagination-bullet-active{background-color:#f56c11 ;}
.section1 .swiper-pagination {bottom: 0!important;}

/* === section2 === */
.section2 {padding: 80px 0; background-color: #f7f7f7;}
.section2 .info h2{text-align: center; font-size: 30px; font-weight: bold;}
.section2 .info p{margin-top: 40px; text-align: center; color: #6a6663; font-size: 20px; line-height: 35px;}
.section2 .info p .sub_txt{font-weight: bold;}

/* === section3 === */
.section3 .event{width: 100%; border-top: 10px solid #f6741e;}
.section3 .event .event_top{display: flex; width: 100%; }
.section3 .event .event_top li{width: 50%; margin-bottom: -3px;}
.section3 .event .event_top li img{width: 100%;}
.section3 .event .event_top li .cover_img{position: absolute; left: 0; top: 0; width: 100%; display: none;}      
.section3 .event .event_top li .cover_img img{width: 100%;}
.section3 .event .event_bottom{display: flex; width: 100%; }
.section3 .event .event_bottom li{width: 33.33%; margin-bottom: -3px;}
.section3 .event .event_bottom li img{width: 100%;}

/* === section4 === */
.section4 .section_title{background-color: #e7e7e7; padding: 70px 0;}
.section4 .section_title p{font-size: 30px; color: #2a2b25; text-align: center;}
.section4 .section_title p span{color: #f6741e;}
.section4 .sns_live{display: flex; width: 100%;}
.section4 .sns_live li {width: 25%; margin-bottom: -3px; position: relative;}
.section4 .sns_live li a .cover_img{position: absolute; left: 0; top: 0; display: none;}
.section4 .sns_live li img {width: 100%;}

/* === footer === */
footer{padding: 40px 0;}
footer .copy{color: #888; font-size: 10px;}
footer .footer_inner{display: flex; justify-content: space-between;}
footer .footer_inner .util{display: flex; margin-left: -15px;}
footer .footer_inner .util li{position: relative; padding: 0 15px;}
footer .footer_inner .util li::before{content: ''; width: 5px; height: 5px; background-image: url('./img/dot.png'); position: absolute; left: 0; top: 20%; transform: translateY(-50%);}
footer .footer_inner .util li a{color: #666; font-size: 12px; display: block; white-space: nowrap;}
footer .footer_inner .util li:first-child::before { display: none;}  
footer .footer_inner .com_family{display: flex; justify-content: center;}
footer .footer_inner .com_family .com{ display: flex; align-items: center; padding: 0 20px;}
footer .footer_inner .com_family .com p{ color: #222; font-size: 14px; margin-left: 10px;}
footer .footer_inner .com_family .btn_family{width: 160px; height: 30px; background-color: #fff; border: 1px solid #222; font-size: 12px; text-align: left; text-indent: 6px; cursor: pointer; position: relative;}
footer .footer_inner .com_family .btn_family::after{content: ''; background-image: url('./img/m_family.png'); width: 18px; height: 15px; position: absolute; right: 0; top: 35%; background-size: 9px 7px; background-repeat: no-repeat;}
footer .footer_inner .com_family .btn_family .family_list{position: absolute; left: 50%; top: -152px; transform: translateX(-50%); width: 160px; background-color: #fff; border: 1px solid #222; box-sizing: border-box; display: none;}
footer .footer_inner .com_family .btn_family .family_list li a{display: block; width: 160px; line-height: 30px; color: #666;}
footer .footer_inner .com_family .btn_family .family_list li a:hover{color: #222; background-color: #eee;}



/* === mobile === */
@media screen and ( max-width : 767px ) {
  body{padding: 0;}
  .content_pc{display: none;}
  .content_m{display: block;}
  .cover{position: absolute; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 99; display: none;}

  /* === mobile header */
  header .content_m .header_inner_m{width: 100%; height: 45px; position: relative; }
  header .content_m .header_inner_m .header_list{display: flex; justify-content: space-between; align-items: center; padding: 5px 10px;}
  .m_basket_btn img{width: 25px; height: 30px;}
  .m_menu_btn img{width: 25px; height: 20px;}

  /* === mobile menu === */
  .header_inner_m .mobile_menu{display: block; position: fixed; top: 0; width: 75%; height: 100%; background: #fff; left: -100%; z-index:100;}
  .header_inner_m .mobile_menu .menu_logo{width: 100%; background-color: #333;}
  .header_inner_m .mobile_menu .menu_logo img{width: 35%; margin: auto; display: block; padding: 15px 0; }
  .header_inner_m .mobile_menu > .menu_list > li > a{display: inline-block; width: 100%; height: 50px; line-height: 50px; font-size: 18px; font-weight: bold; color: #2e2c2f; background-color: #eee; border-bottom: 1px solid #ccc; text-align: center;}
  .header_inner_m .mobile_menu > .menu_list .depth2{ background-color: #fff; display: none;}
  .header_inner_m .mobile_menu > .menu_list .depth2 ul{display: flex; justify-content: center; align-items: center; position: relative; border-bottom: 1px solid #ccc;}
  .header_inner_m .mobile_menu > .menu_list .depth2 ul > li{width: 100%; text-align: center; padding: 40px 0;}
  .header_inner_m .mobile_menu > .menu_list .depth2 ul > li a {font-size: 18px;color: #333230; padding: 30px;}
  .header_inner_m .mobile_menu > .menu_list .depth2 ul > li:first-child a::after{content: ''; width: 1px; height: 60px; background: #ccc; position: absolute; right: 50%; top: 50%; transform: translateY(-50%);}
  .header_inner_m .mobile_menu > .menu_list .depth2 ul > li a img{width: 17px;}

  /* === section1 === */
  .section1 .swiper-pagination-bullet{width: 50px; height: 5px;}
  .section1 .swiper-pagination {bottom: 0!important;}

  /* === section2 === */
  .section2 {padding: 40px 25px;}
  .section2 .info h2{font-size: 25px;}
  .section2 .info p{margin-top: 30px;  font-size: 18px; line-height: 30px;}

  /* === section3 === */
  .section3 .event .event_top , .section3 .event .event_bottom{flex-wrap: wrap; width: 100%;}
  .section3 .event .event_top li , .section3 .event .event_bottom li{width: 100%;}
  .section3 .event .event_bottom .event_list4{width: 50%;}
  .section3 .event .event_bottom .event_list5{width: 50%;}

  /* === section4 === */
  .section4 .sns_live{flex-wrap: wrap;}
  .section4 .sns_live li {width: 50%;}

  /* === footer === */
  footer{padding: 0;}
  footer .m_footer_inner .m_util li{border-bottom: 1px solid #cbcbcb; position: relative;}
  footer .m_footer_inner .m_util li a{display: block; width: 100%; line-height: 50px; font-size: 14px; color: #47443d; text-indent: 20px;}
  footer .m_footer_inner .m_util li a::after{content: ''; background-image: url('./img/m_arrow.gif'); width: 11px; height: 20px; position: absolute; right: 30px; top: 50%; transform: translateY(-50%);}
  footer .m_footer_inner .m_family{ width: 100%; padding: 25px 0; background-color: #eee;}
  footer .m_footer_inner .m_family .com{display: flex; justify-content: center; column-gap: 10px;}
  footer .m_footer_inner .m_family .com p{color: #222; font-size: 14px;}
  footer .m_footer_inner .m_family .btn_family{width: 155px; height: 28px; background-color: #fff; border: 1px solid #222; box-sizing: border-box; color: #222; font-size: 12px; text-align: left; text-indent: 6px; cursor: pointer; position: relative; left: 50%; transform: translateX(-50%); margin-top: 25px;}
  footer .m_footer_inner .m_family .btn_family::after{content: ''; background: url("img/m_family.png"); width: 30px; height: 10px; position: absolute; right: 0; top: 30%;background-size: cover;}
  footer .m_footer_inner .m_family .btn_family .family_list{position: absolute; left: 50%; top: -142px; transform: translateX(-50%); width: 155px; background-color: #fff; border: 1px solid #222; box-sizing: border-box; display: none;}
  footer .m_footer_inner .m_family .btn_family .family_list li a{display: block; width: 155px; line-height: 28px; color: #666;}
  footer .m_footer_inner .m_family .m_copy{text-align: center; color: #888; margin-top: 18px; font-size: 13px; padding-bottom: 45px;}
  
}