@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;}
@media screen and (min-width: 1025px){  
  .content_m{display: none;}
  .content_pc{position: relative; width: 100%;}
  .content_pc img{width: 100%;}
  .pin-spacer{background-color: #f7f7f7; width: 100%;}
  .image_wrap img{width: 100%;}
  .swiper-container{overflow: hidden; width: 100%;}
  
  /* section1 */
  .section1{overflow: hidden;}
  .sec1_obj2{position: absolute; left: 0; top: 0; width: 100%; opacity: 0; animation: sec1_ani1 4s ease forwards;}
  @keyframes sec1_ani1{100%{opacity: 1;}}
  .sec1_obj3{position: absolute; left: 0; top: 10%; width: 100%; opacity: 0; animation: sec1_ani2 2s 1s ease forwards;}
  @keyframes sec1_ani2{100%{opacity: 1; top: 0;}}
  .sec1_obj4{position: absolute; left: 0; top: 0; width: 100%; opacity: 0; animation: sec1_ani1 2s 2s ease forwards;}

  /* section2 */
  .section2{width: 100%; height: 80vh; background-color: #f7f7f7;}
  .section2_m{display: none;}
  .sec2_obj1{position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 13%; opacity: 0;}
  .sec2_obj2{position: absolute; left: 50%; top: 18%; transform: translateX(-50%); width: 60%; opacity: 0;}
  .sec2_obj3{position: absolute; left: 50%; top: 36%; transform: translateX(-50%); width: 50%; opacity: 0;}

  /* section3 */
  .section3{padding: 80px 20px;}

  /* section4 */
  .section4{padding: 200px 40px; background-image: url('../img/sec3_bg.jpg'); background-size: cover;}
  .section_top{width: 90%; margin: 0 auto; display: flex; column-gap: 3%;}
  .slide_box{width: 44%; border-radius: 70px; padding: 40px; position: relative; box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);}
  .index{font-size: 2vw; width: 50%; text-align: center; position: absolute; left: 50%; top: -5%; transform: translateX(-50%);}
  .index p{background-color: #e8e8e8; padding: 18px 30px; border-radius: 50px; color: #252525; box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);}
  .product_dec{width: 80%; margin: 0 auto; font-size: 1.5vw; text-align: center; color: #333; line-height: 1.5;}
  .box1_swiper , .box2_swiper , .box3_swiper , .box4_swiper{width: 85%; margin: 20px auto; position: relative;}
  .swiper-button-next{color: #999; right: 10%;}
  .swiper-button-prev{color: #999; left: 10%;}
  .btn_more{position: absolute; right: 15%; bottom: 35%; width: 8%; z-index: 5; display: block; transition: 0.2s;}
  .btn_more:hover{transform: scale(1.2);}
  .btn_more img {width: 100%;}
  .gradient{background: linear-gradient(-45deg, #f1d3eb, #ffffd5, #d6eeff, #ffaad6, #cad8ff); background-size: 400% 400%; animation: gradient 8s ease infinite;}
  @keyframes gradient {0%{background-position: 0% 50%;} 50%{background-position: 100% 50%;} 100%{background-position: 0% 50%;}}
}
@media screen and (max-width: 1024px){
  .content_pc{display: none;}
  .content_m{position: relative; font-size: 0;}
  .content_m img{width: 100%;}
  .image_wrap img{width: 100%;}
  .swiper-container{overflow: hidden;}
  .btn_more{text-align: center; margin-bottom: 70px;}
  .btn_more a{font-size: 20px; background-color: #b3b3b3; padding: 10px 30px; border-radius: 30px;}

  /* section1 */
  .sec1_obj2_m{position: absolute; left: 0; top: 0; width: 100%; opacity: 0; animation: sec1_ani1_m 4s ease forwards;}
  @keyframes sec1_ani1_m{100%{opacity: 1;}}
  .sec1_obj3_m{position: absolute; left: 0; top: 10%; width: 100%; opacity: 0; animation: sec1_ani2_m 2s 1s ease forwards;}
  @keyframes sec1_ani2_m{100%{opacity: 1; top: 0;}}
  .sec1_obj4_m{position: absolute; left: 0; top: 0; width: 100%; opacity: 0; animation: sec1_ani1_m 2s 2s ease forwards;}
  
  /* section2 */
  .section2{display: none;}

  /* section3 */
  .section3{padding: 30px 0;}

  /* section4 */
  .section4{padding: 40px 0; background-image: url('../img/sec3_bg.jpg');}
  .slide_box{flex-direction: column; border-radius: 70px; margin: 50px auto; width: 90%; position: relative; padding: 20px 0; box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);}
  .image_wrap img{width: 100%;}
  .index{font-size: 5vw; width: 50%; text-align: center; position: absolute; left: 50%; top: -4%; transform: translateX(-50%); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);}
  .index p{background-color: #e8e8e8; padding: 10px 30px; border-radius: 50px; color: #252525; box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);}
  .product_dec{width: 80%; margin: 0 auto;font-size: 4vw; text-align: center;}
  .swiper-button-next{color: #999; right: 10%;}
  .swiper-button-prev{color: #999; left: 10%;}
  .box1_swiper , .box2_swiper , .box3_swiper , .box4_swiper{width: 90%; margin: 20px auto; position: relative;}
  .btn_more{position: absolute; right: 20%; bottom: 10%; width: 18%; z-index: 1;} 
  .btn_more img {width: 100%;}
  .gradient{background: linear-gradient(-45deg, #f1d3eb, #ffffd5, #d6eeff, #ffaad6, #cad8ff ); background-size: 400% 400%; animation: gradient 8s ease infinite;}
        	@keyframes gradient { 0% {background-position: 0% 50%;} 50% { background-position: 100% 50%; } 100% { background-position: 0% 50%; } } 
}